<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {% endblock %}
    {% block js-head %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {% endblock %}
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Arpachat</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <body>
    <div class="container">
      <div class="jumbotron" style="background-color: white">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <footer class="footer">
      <div class="container" style="text-align: center">
        <span class="text-muted">Arpachat Copyright (c) 2020 Momozor</span>
        
      </div>
    </footer>
    
    {% block js-body %}
    {% endblock %}
  </body>
</html>
