{% extends "layouts/default.html" %}

{% block title %}Arpachat{% endblock %}

{% block css %}
{% super %}
{% endblock %}

{% block js-head %}
{% super %}
<script src="/js/arpachat.js"></script>
{% endblock %}

{% block content %}

<div style="text-align: center">
  <div id="connect-div">
    <button onclick="connectClick()" class="btn btn-primary">connect</button>
  </div>
  <br>

  <div id="name-div">
    <label for="username">
      Username:
      <input type="text" name="username" id="username" required />
    </label>

    <button onclick="enterClick()" class="btn btn-primary">enter</button>
  </div>

  <div id="chat-div" style="border: 1px solid black; height: 400px; width: 1000px; overflow: auto; text-align: left">
  </div>

  <div id="msg-div">
    <input type="text" id="msg-input" size=40 maxlength=80 />
    <button onclick="messageClick()" class="btn btn-primary">send message</button>
  </div>

</div>

{% endblock %}
